@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: antiquewhite;

}

* {
    margin: 0;
    padding: 0;
}


nav{
font-family:'Ubuntu' , sans-serif ;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding:0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size:1.3rem ;
}
.brand img{
    width:44px;
    padding:0 8px ;
}
.container{
height:80vh;
color: white;
font-family: 'Varela Round', sans-serif;
display:flex;
width: 70%;
margin: 23px auto;
border-radius: 12px;
padding: 34px;
background-image: url('bg.jpg');
background: cover;
background-size:150vh 100% ;


}


.bottom{
    position: sticky;
    height:100px ;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor:pointer;
}
.singItemContainer{
    margin-top: 74px;

}
.songItem{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
   width: 100%;
    color: black;
    margin:12px 0 ;
    border-radius: 34px;
}

.songItem img{
    width: 40px;
    margin:0 23px 0;
    border-radius: 34px;
}
.timestamp{
 margin: 0 23px;

}
.timestamp i{
    cursor:pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
   font-family: 'Varela Round', sans-serif;
}
.songInfo img{
   
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }